/* koulen-regular - latin */
@font-face {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    src: url('./koulen-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./koulen-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./koulen-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./koulen-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./koulen-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./koulen-v25-latin-regular.svg#Koulen') format('svg'); /* Legacy iOS */
  }

body {
    font-family: 'Koulen', sans-serif;
    font-weight: 100;
    background-color: #25283D;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #BFB5AF;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
}

.the-b {
    color: #517664;
}

input {
    font-family: 'Koulen';
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    background-color: #BFB5AF;
    color: #25283D;
    border-radius: 17px;
    box-shadow: 0px 0px 10px 5px black inset;
    border: 1px solid black;
}

.hide {
    display: none;
}

.bingo-fields {
    width: 270px;
    height: 270px;
    margin: 30px 0;
    padding: 20px;
    display: flex;
    background-color: #BFB5AF;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 5px black inset;
    border-radius: 10px;
}

.bingo-field {
    width: 58px;
    height: 58px;
    border: 1px dashed #25283D;
    border-radius: 5px;
}

.dropzone.bingo-field.highlight {
    border: 1px dashed #BFB5AF;
    background-color: #517664;
}

.bingo-items {
    margin: 20px;
    max-width: 780px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    padding: 17px;
    border: 2px solid black;
    background-color: #517664;
    box-shadow: 0px 0px 10px 5px black inset;
    border-radius: 17px;
}

.bingo-item {
    background-size: cover;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 2px black;
    padding: 0px;
    background-color: #BFB5AF;
}

.not {
    position:relative;
}

.not:after {
    top: -9px;
    left: 29px;
    height: 78px;
    content: " ";
    position: absolute;
    border-left: 3px solid #CD533B;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bingo-item .description {
    visibility: hidden;
    width: 150px;
    padding: 10px;
    margin: -40px 0px 0px 6px;
    border-radius: 9px;
    background-color: #BFB5AF;
    color: #25283D;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.bingo-item:hover .description {
    visibility:visible;
    transition: all 0.1s ease 0.5s;
    border: 2px solid #25283D;
    transform: translateZ(0);
}

.alan-wake {
    background-image: url("img/alanwake.png");
}

.botw-2 {
    background-image: url("img/botw.jpg");
}

.new-switch {
    background-image: url("img/switch2.png");
}

.xbox {
    background-image: url("img/xbox.png");
}

.hide {
    display: none;
}

@media screen and (min-device-width: 570px) {
    .bingo-fields {
        width: 411px;
        height: 411px;
        margin: 30px 0;
        padding: 20px;
        display: flex;
        background-color: #BFB5AF;
        flex-wrap: wrap;
        gap: 17px;
        border: 2px solid black;
        box-shadow: 0px 0px 10px 5px black inset;
        border-radius: 10px;
    }

    .bingo-field {
        width: 88px;
        height: 88px;
        border: 1px dashed #25283D;
        border-radius: 5px;
    }

    .bingo-items {
        margin: 20px;
        max-width: 780px;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        padding: 17px;
        border: 2px solid black;
        background-color: #517664;
        box-shadow: 0px 0px 10px 5px black inset;
        border-radius: 17px;
    }

    .bingo-item {
        background-size: cover;
        width: 90px;
        height: 90px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 0px 7px 2px black;
        padding: 0px;
        background-color: #BFB5AF;
    }

    .bingo-item .description {
        visibility: hidden;
        width: 220px;
        padding: 10px;
        margin: -40px 0px 0px 6px;
        border-radius: 9px;
        background-color: #BFB5AF;
        color: #25283D;
        text-align: center;
        position: absolute;
        z-index: 1;
        font-size: 1.3rem;
    }

    .not:after {
        top: -16px;
        left: 43px;
        height: 121px;
        content: " ";
        position: absolute;
        border-left: 3px solid #CD533B;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}